<div class="card shadow border-0 mt-4" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="card-header bg-secondary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Students</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <a href="#" onclick="loadPage('createStudent')" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Register Student
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped text-center">
            <thead>
            <tr>
                <th>Full Name</th>
                <th>E-mail</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:if="${user.isAdmin == 0}">
                <td th:text="${user.fullName}">Full Name</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.department}">Department</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a href="#" onclick="loadPage('editStudent')" class="btn btn-sm mx-1" style="background-color: #ffcc00; color: white; border: none;">
                            <i class="bi bi-pencil-fill"></i> Edit
                        </a>
                        <a href="#" onclick="loadPage('deleteStudent')" class="btn btn-danger btn-sm mx-1">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
