<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<body>
<div class="loginContainer">
    <div class="form-box">
        <h1>Change Password</h1>
        <form th:action="@{/change-password}" method="post">
            <input type="hidden" name="token" th:value="${token}" />
            <div class="input-field">
                <input type="password" name="currentPassword" placeholder="Current Password" required />
            </div>
            <div class="input-field">
                <input type="password" name="newPassword" placeholder="New Password" required />
            </div>
            <div class="btn-field">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let toastMessage = /*[[${toastMessage != null}]]*/ false;
    if (toastMessage) {
        toastr.options = {
            "closeButton": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "timeOut": "3000"
        };
        toastr.success(/*[[${toastMessage}]]*/ "");
    }

    let error = /*[[${error != null}]]*/ false;
    if (error) {
        toastr.options = {
            "closeButton": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "timeOut": "3000"
        };
        toastr.error(/*[[${error}]]*/ "");
    }
    /*]]>*/
</script>
</body>
</html>
