<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>E-Finance</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" onclick="loadPage('home')">E-Finance</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto ms-4">
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="loadPage('payment')">Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="loadPage('paymentHistory')">History Of Payments</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item d-flex align-items-center me-3">
            <a href="#" onclick="loadPage('profile')" class="d-flex align-items-center text-white text-decoration-none">
              <img th:src="@{/img/Resume picture.jpg}" alt="Profile" style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%; border: 2px solid white;">
              <span class="ms-2 fw-bold">Vedran Kilalic</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/pages/login.html}">
              Logout <i class="bi bi-door-open-fill"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <main id="app" role="main" class="pb-3">
  </main>
</div>

<footer class="border-top footer bg-primary text-white">
  <div class="container text-center">
    E-Finance <i class="bi bi-balloon-heart-fill"></i>
  </div>
</footer>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
